@font-face {
   font-family:"charm";
   src: url(./fonst/Charmonman-Bold.ttf);
}
@font-face {
   font-family:"charm-regular" ;
   src: url(./fonst/Charmonman-Regular.ttf);
}
*{
   box-sizing: border-box;
}

body{
   margin: 0;
   background-color: rgb(254,214, 215);
}
/*----------------------------estilos base----------------------------*/
img{
   display: block;
   width: 100%;
   max-width: 100%;
}
h1,h2,h3,h4,h5{
   margin: 0;
}

.container{
   width: 100%;
   margin: auto;
}
.container--flex{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.column{
   width: 100%;
}
.conta{
   background-color: rgb(255, 152, 153);
}

/*----------------------------estilos header----------------------------*/

.main-header{
   width: 100%;
   margin-top: 35px;
   background-color: rgb(255, 255, 255);
   justify-content:space-between;
   display: flex;
}
.logo{
   display: flex;
   font-size: 2.4em;
   color: #de423a;
   padding-bottom:1px;
   font-family: 'Domine', serif;
   font-weight:100;
   font-family:'charm';

}
.logoimg{
   width: 150px;
   justify-content: right;
}

/*----------------------------estilos principales----------------------------*/



.today-special .column{
   margin-bottom: 30px;
   text-align: center;
}
.today-special__img{
   margin: auto;
   max-width: 350px;
   width: 90%;

}
.today-special__title{
   background-color: white;
   /* font-size: 1.3em; */
   padding-top: 10px;
   padding-bottom: 15px;
   margin-left: 2%;
   margin-right: 2%;
   height: 40PX;
}
.today-special__price{
   font-size: 1.5em;
   color: #1d1a1a;
   /* font-weight:; */
}
.today-special__img:hover{
   transform: scale(1.009);
   cursor: pointer;
}
.conta:hover{
   outline: 2px solid rgb(237, 26, 107);
   cursor: pointer;
}
.main-header__contacinf0{
   text-align: right;
   justify-content:right;
}

/*----------------------------estilos responsive----------------------------*/
@media screen and (min-width:480px){
   .container{
      width: 90%;
   }
   .logo{
      color: rgb(180, 16, 0);
      margin-left: 4%;
      font-size: 2.8em;

   }
   .main-header{
    background-color: rgb(255, 255, 255);
    height: 80px;

   }
   .today-special__title{
      color: rgb(245, 74, 139);
      font-family: arial;
      font-size: 1.4em;

   }
   .main-footer .container--flex{
     align-items: flex-start;
   }
   .column--50{
       width: 49%;
   }
   .column--50-25 {
     width: 45%;
   }
   .today-special .column{
     /* border: 5px solid #ddd; */
     margin-top: 40PX;
   }
   .today-special__img{
     height: 200px;
     object-fit: cover;
   }


}

@media screen  and (min-width:768px){
   .container{
      width: 90%;
   }
   .logo{
      color: rgb(180, 16, 0);
      font-size: 3em;
   }
  .main__about__description .column--50:nth-child(2){
     font-size: 1em;
  }
  .main__about__description .column--50:nth-child(2) .column__txt{
     line-height: 30px;
  }
  .column--50-25{
     width: 46%;
  }
  .today-special__img{
   width: 230px;
   height: 230px;
   object-fit: cover;
 }

}

@media screen  and (min-width:1024px){
  .container{
     width: 90%;
  }
  .conta{
   height: 330px;
   width: 420px;
  }
  .today-special__img{
   width: 340px;
  }
  .today-special__title{
   font-size: 3em;
  }
  .logo{
   color: rgb(180, 16, 0);
     font-size: 3em;
     padding: 0;
  }
   .group--color .container{
     margin-top: 30px;
     margin-bottom: 30px;
     padding: 20px;
  }

   .main__about__description .column--50:nth-child(2) .column__txt{
     line-height: 30px;
  }
  .main__about__description .column--50:nth-child(2) .column__title{
     font-size: 1.2em;
  }
   .today-special__title{
     font-size: 1.4em;
  }
  .today-special__price{
     font-size: 1.8em;
  }


}

@media screen  and (min-width:1406px){

 .logo{
   color: rgb(180, 16, 0);
    font-size: 3.6em;
 }
    .container{
     width: 69%;
  }
   .main__about__description .column--50:nth-child(1) img{
     height: 300px;
     width: 49%;
     object-fit: cover;
  }
  .today-special__img{
     height: 280px;
  }
  .conta{
   height: 350px;
   width: 400px;
  }
  .today-special__title{
   font-size: 1.3em;
  }
  .logoimg{
   height: 350px;
   width: 400px;
  }
}

.products-preview{
   position:fixed;
   top:0; left:0;
   min-height:100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display:none;
   align-items: center;
   justify-content: center;
}
.products-preview .preview{
   display: none;
   padding: 1rem;
   text-align: center;
   background: #fff;
   position: relative;
   width: 26rem;
}
.products-preview .preview.active{
   display: inline-block;
}
.products-preview .preview img{
   height: 15rem;
   width: 27rem;
   object-fit: cover;

}
.products-preview .preview .icon-close{
   position: absolute;
   top: 0rem; right: 0rem;
   cursor: pointer;
   color:#444;
   font-size: 2rem;
}
.products-preview .preview .icon-close:hover{
   color:#999;
}

.products-preview .preview h3{
   color: #444;
   padding: .5rem 0;
   font-size: 2.5rem;
}
.products-preview .preview .stars{
   padding: 1rem 0;
   font-size: 1.7rem ;
}
.products-preview .preview .stars i{
   color: #27ae60;

}
.products-preview .preview .stars span{
   color: #999;
}
.products-preview .preview p{
   line-height: 1.5;
   font-size: 1.6rem;
   color: #777;
}
.products-preview .preview .price{
   font-size: 2.5rem;
   color: #27ae60;
}
.chat{
   align-content: center;
   justify-content: center;
   height: 10vh;
   display: grid;
}
.boton-chat{
   /* background: #1d1a1a; */
   /* justify-content: center; */
   /* align-items: center;*/
   border: 3px solid rgba(100,100,100,0.1);
   margin-bottom: 20px;
   padding: 20px;
   width: 300px;
   font-family: 'airal';
   font-size: 16px;
   border-radius: 8px;
   cursor: pointer;
   color: #fff;
   background-size: 300%;
   transition: 2s;
   background-image:linear-gradient(to left, #ffcae3,#ff499d,#ffcae3);
}
.boton-chat:hover{
   background-position: right;
}
